.home {
	padding-top: 0;
	overflow: hidden;

	.home-portfolio {
		position: relative;
		background-color: #fff;
		padding: 30px 0 60px;
		text-align: center;

		@include HD {
			padding: 40px 0 120px;
		}

		.view-holder {
			position: relative;
			height: 280px;
		}

		.btn-holder {
			text-align: center;

			.btn {
				margin-top: 20px;

				@include HD {
					margin-top: 40px;
				}
			}
		}

		.categories {
			text-align: center;
			margin: 30px 0;

			@include XGA {
				margin-top: 60px;
			}

			li {
				display: inline-block;

				a {
					position: relative;
					display: inline-block;
					text-decoration: none;
					color: #7d8790;
					font-weight: 900;
					text-transform: uppercase;
					margin: 0 20px;
					opacity: 0.6;
					transition: opacity .3s $CubicEaseInOut;
					padding-bottom: 10px;
					margin-bottom: 5px;
					cursor: pointer;

					&:after {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 2px;
						background-color: #7d8790;
						transition: transform .3s $CubicEaseInOut;
						transform: scaleX(0);
					}

					&.active, &:hover {
						opacity: 1;

						&:after {
							transform: scaleX(1);
						}
					}
				}
			}
		}

		.gallery-small {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			margin: 10px auto;

			.prev, .next {
				position: absolute;
			    left: 10px;
			    top: calc( 50% - 15px );
			    width: 30px;
			    height: 30px;
			    border-radius: 50%;
			    background-color: #ef8049;
			    cursor: pointer;
			    z-index: 100;

			    @include XGA {
			        left: 20px;
			        width: 40px;
			        height: 40px;
			    }

			    &:before {
			        content: "";
			        position: absolute;
			        left: 10px;
			        top: 8px;
			        width: 10px;
			        height: 10px;
			        border-left: #fff solid 3px;
			        border-bottom: #fff solid 3px;
			        transform: rotate(45deg);

			        @include XGA {
			        	left: 15px;
			        	top: 13px;
			        }
			    }
			}

			.next {
				left: auto;
				right: 10px;

				&:before {
					left: 7px;
					transform: rotate(-135deg);

					@include XGA {
						left: 11px;
					}
				}

				@include XGA {
					right: 20px;
				}
			}

			.gallery-inner {
				position: relative;
				display: flex;
				flex-flow: row;
				flex-wrap: nowrap;
				padding: 20px 0;

				li {
					position: relative;
					min-width: 50%;
					max-width: 50%;
					padding-right: 4%;
					height: 240px;
					user-select: none;
					transition: transform .4s $QuadEaseInOut;
					
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 92%;
						height: 100%;
						background-color: #9bd5f5;

						@include HD {
							width: 91%;
						}
					}

					@include HD {
						min-width: 33.33%;
						max-width: 33.33%;
						width: 33.33%;
						padding-right: 3%;
					}

					.img-holder {
						position: relative;
						width: 100%;
						height: 100%;
						background-color: #fff;
						transition: transform .2s $CubicEaseInOut, box-shadow .2s $CubicEaseInOut;
						cursor: pointer;

						&:hover {
							transform: translate(-10px, -10px);
							box-shadow: rgba(47, 100, 129, 0.25) 5px 15px 60px;
						}

						img {
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							max-width: 95%;
							max-height: 95%;
						}
					}
				}
			}
		}

		.title-box {
			position: relative;
			width: 100%;
			margin-top: -60px;
			z-index: 10;

			@include XGA {
				width: 50%;
				margin-left: 0;
			}

			@include HD {
				margin-top: -90px;
			}

			h2 {
				position: relative;
				color: #9bd5f5;
				width: 100%;
				background-color: #fff;
				box-shadow: rgba(137, 197, 230, 0.35) -20px 30px 100px;
				border-radius: 10px;
				text-align: center;
				padding: 30px 0;
				margin: 0;
				z-index: 20;

				@include XGA {
					padding: 60px 0;
				}

				@include HD {
					padding: 90px 0;
				}

				@include UXGA {
					padding: 120px 0;
				}

				&:before {
					content: "";
					position: absolute;
					left: 10px;
					bottom: 10px;
					border-left: #9bd5f5 solid 2px;
					border-bottom: #9bd5f5 solid 2px;
					border-bottom-left-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						left: 15px;
						bottom: 15px;
					}

					@include UXGA {
						left: 25px;
						bottom: 25px;
					}
				}

				&:after {
					content: "";
					position: absolute;
					right: 10px;
					top: 10px;
					border-right: #9bd5f5 solid 2px;
					border-top: #9bd5f5 solid 2px;
					border-top-right-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						right: 15px;
						top: 15px;
					}

					@include UXGA {
						right: 25px;
						top: 25px;
					}
				}
			}
		}
	}

	.man-process {
		position: relative;
		background-color: #ef8049;
		padding: 30px 0 60px;
		text-align: center;

		@include HD {
			padding: 40px 0 90px;
		}

		h4, p {
			color: #fff;
		}

		.bottom-right-line {
			display: none;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 20%;
			height: 45%;
			border-left: #f19364 solid 3px;
			border-top: #f19364 solid 3px;
			border-top-left-radius: 10px;

			@include HD {
				display: block;
			}
		}

		.items {
			li {
				position: relative;
				display: inline-block;
				padding-left: 50px;
				margin-right: 20px;

				@include vHD {
					padding-right: 40px;
					margin-right: 40px;
				}

				@include XGA {
					margin: 10px 0;
					padding-right: 60px;
					margin-right: 60px;
				}

				@include HD {
					padding-left: 80px;
				}

				&:last-child {
					@include vHD {
						// padding-right: 0;
						 margin-right: 0;
					}

					.separator {
						display: none;
					}
				}

				.separator {
					position: absolute;
					bottom: -10px;
					left: 50%;
					transform: translateX(-50%);
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: #feb28c;
					display: none;

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: -15px;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #feb28c;
					}

					&:after {
						content: "";
						position: absolute;
						top: 0;
						right: -15px;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #feb28c;
					}

					@include vHD {
						display: inline-block;
						bottom: auto;
						top: 15px;
						left: auto;
						right: -10%;
					}

					@include HD {
						top: 25px;
					}
				}

				img {
					display: inline-block;
					position: absolute;
					left: 0;
					height: 40px;

					@include HD {
						height: 60px;
					}
				}

				h4 {
					margin-top: 10px;

					@include HD {
						margin-top: 20px;
					}
				}
			}
		}
	}

	&-development {
		position: relative;
		background-color: #8ccaeb;
		padding: 10px 0;

		h3, h4, p {
			color: #fff;
		}

		.bottom-left-line {
			display: none;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20%;
			height: 15%;
			border-right: #99ceeb solid 3px;
			border-top: #99ceeb solid 3px;
			border-top-right-radius: 10px;

			@include HD {
				display: block;
			}
		}

		.middle-right-line {
			display: none;
			position: absolute;
			top: 40%;
			right: 0;
			width: 10%;
			height: 35%;
			border-left: #99ceeb solid 3px;
			border-top: #99ceeb solid 3px;
			border-bottom: #99ceeb solid 3px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;

			@include HD {
				display: block;
			}
		}

		.text {
			margin-top: 60px;

			@include XGA {
				width: 40%;
				margin-top: -40px;
			}

			@include HD {
				margin-top: -70px;
			}

			@include UXGA {
				margin-top: -120px;
			}

			.btn {
				margin-top: 20px;
			}
		}

		.nda {
			text-align: center;
			margin-bottom: 0;
			margin-top: 40px;

			@include XGA {
				max-width: 80%;
				margin: 40px auto;
				margin-bottom: 0;
			}
		}

		.add {
			text-align: center;
			margin: 40px 0 40px;

			li {
				display: inline-block;
				margin: 0 20px;
				font-size: 36px;
				color: #67a8cd;

				@include UXGA {
					margin: 0 30px;
				}
			}
		}

		.design {
			text-align: center;
			margin-top: 10px;
		}

		.steps {
			@include XGA {
				display: flex;
				flex-flow: row;
				flex-wrap: nowrap;
				justify-content: space-between;
			}

			.txt, .list {
				@include XGA {
					min-width: 45%;
					max-width: 45%;
					width: 45%;
				}
			}
		}

		.list {
			li {
				position: relative;
				padding-left: 40px;
				color: #fff;
				margin: 10px 0;

				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 2px;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					border: #67a8cd solid 2px;
				}

				&:after {
					content: "";
					position: absolute;
					left: 8px;
					top: 10px;
					width: 18px;
					height: 2px;
					background-color: #67a8cd;
				}
			}
		}

		.items {
			text-align: center;
			margin: 30px 0;

			@include XGA {
				display: flex;
				flex-flow: row;
				flex-wrap: nowrap;
				justify-content: space-between;
			}

			@include HD {
				margin: 60px 0 30px;
			}

			li {
				position: relative;
				margin-bottom: 50px;
				padding-bottom: 50px;

				@include XGA {
					min-width: 25%;
					max-width: 25%;
					width: 25%;
					padding-bottom: 0;
				}

				h4 {
					margin-top: -25px;
				}

				p {
					@include XGA {
						height: 60px;
					}
				}

				.btn {
					margin-top: 20px;
				}

				.separator {
					position: absolute;
					bottom: -10px;
					left: 50%;
					transform: translateX(-50%);
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: #afe3ff;

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: -15px;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #afe3ff;
					}

					&:after {
						content: "";
						position: absolute;
						top: 0;
						right: -15px;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #afe3ff;
					}

					@include XGA {
						bottom: auto;
						top: 50%;
						left: auto;
						right: -30%;
					}
				}

				&:last-child {
					padding-bottom: 0;

					.separator {
						display: none;
					}
				}
			}

			img {
				display: inline-block;
				height: 80px;

				@include UXGA {
					height: 120px;
				}
			}
		}

		.title-box {
			position: relative;
			width: 100%;
			margin-top: -30px;
			z-index: 10;

			@include XGA {
				width: 50%;
				margin-left: 50%;
			}

			@include HD {
				margin-top: -60px;
			}

			.bg-border {
				position: absolute;
				left: 60px;
				top: 30px;
				width: 200%;
				height: 100%;
				border-left: #bbe2f9 solid 3px;
				border-right: #bbe2f9 solid 3px;
				border-bottom: #bbe2f9 solid 3px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				z-index: 8;

				@include HD {
					top: 60px;
				}
			}

			h2 {
				position: relative;
				color: #fff;
				width: 100%;
				background-color: #9bd5f5;
				box-shadow: rgba(137, 197, 230, 0.35) -20px 30px 100px;
				border-radius: 10px;
				text-align: center;
				padding: 30px 0;
				margin: 0;
				z-index: 20;

				@include XGA {
					padding: 60px 0;
				}

				@include HD {
					padding: 90px 0;
				}

				@include UXGA {
					padding: 120px 0;
				}

				&:before {
					content: "";
					position: absolute;
					left: 10px;
					bottom: 10px;
					border-left: #bbe2f9 solid 2px;
					border-bottom: #bbe2f9 solid 2px;
					border-bottom-left-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						left: 15px;
						bottom: 15px;
					}

					@include UXGA {
						left: 25px;
						bottom: 25px;
					}
				}

				&:after {
					content: "";
					position: absolute;
					right: 10px;
					top: 10px;
					border-right: #bbe2f9 solid 2px;
					border-top: #bbe2f9 solid 2px;
					border-top-right-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						right: 15px;
						top: 15px;
					}

					@include UXGA {
						right: 25px;
						top: 25px;
					}
				}
			}
		}
	}

	&-3d-print {
		position: relative;
		background-color: #1580cb;
		padding-bottom: 60px;

		.bg-top {
			position: absolute;
			bottom: 100%;
			width: 100%;
		}

		.bg-bottom {
			position: absolute;
			top: 100%;
			width: 100%;
		}

		p {
			color: #cce9fe;
		}

		h4 {
			color: #fff;
		}

		.bottom-right-line {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 25%;
			height: 15%;
			border-left: #3791d1 solid 3px;
			border-top: #3791d1 solid 3px;
			border-top-left-radius: 10px;
		}

		.bg-image-1 {
			position: absolute;
			right: 0;
			top: 0;
			max-width: 15%;

			@include UXGA {
				max-width: 20%;
				top: -15%;
			}
		}

		.bg-image-2 {
			position: absolute;
			left: 0;
			top: 20%;
			max-width: 15%;

			@include HD {
				top: 40%;
			}
		}

		.right-text {
			@include XGA {
				width: 46%;
				margin-left: 54%;
				margin-top: -140px;
			}

			@include HD {
				margin-top: -210px;
			}

			@include UXGA {
				width: 40%;
				margin-left: 60%;
				margin-top: -240px;
			}

			@include FHD {
				margin-top: -260px;
			}
		}

		.items {
			position: relative;
			margin: 30px 0;
			z-index: 10;

			@include XGA {
				display: flex;
				flex-wrap: nowrap;
				flex-flow: row;
			}

			@include HD {
				margin: 50px 0;
			}

			@include UXGA {
				margin: 80px 0;
			}

			li {
				position: relative;
				padding-left: 60px;

				@include vHD {
					padding-left: 120px;
					margin-bottom: 30px;
				}

				@include XGA {
					min-width: 50%;
					max-width: 50%;
					width: 50%;
				}

				@include HD {
					padding-left: 140px;
				}

				.txt {
					@include vHD {
						padding-top: 30px;
						display: flex;

						p {
							padding: 7px 0;
							margin-left: 30px;
						}
					}

					@include HD {
						padding-top: 50px;
					}
				}

				img {
					position: absolute;
					left: 0;
					top: 0;
					width: 70px;

					@include vHD {
						width: 130px;
					}

					@include HD {
						width: auto;
					}
				}
			}
		}

		.title-box {
			position: relative;
			width: 100%;
			margin-top: -60px;
			top: -50px;
			z-index: 10;

			@include vHD {
				top: -70px;
			}

			@include XGA {
				width: 50%;
				margin-left: 0;
				top: -107px;
			}

			@include HD {
				top: -130px;
			}

			@include UXGA {
				top: -160px;
			}

			@include FHD {
				top: -200px;
			}

			.bg-border {
				position: absolute;
				left: -60px;
				top: 30px;
				width: 100%;
				height: 100%;
				border-left: #3995d6 solid 3px;
				border-right: #3995d6 solid 3px;
				border-bottom: #3995d6 solid 3px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				z-index: 8;

				@include XGA {
					width: 200%;
					left: auto;
					right: 80px;
				}

				@include HD {
					top: 60px;
				}
			}

			h2 {
				position: relative;
				color: #fff;
				width: 100%;
				background-color: #1580cb;
				box-shadow: rgba(5, 109, 182, 0.55) -20px 30px 130px;
				border-radius: 10px;
				text-align: center;
				padding: 30px 0;
				margin: 0;
				z-index: 20;

				@include XGA {
					padding: 60px 0;
				}

				@include HD {
					padding: 90px 0;
				}

				@include UXGA {
					padding: 120px 0;
				}

				&:before {
					content: "";
					position: absolute;
					left: 10px;
					bottom: 10px;
					border-left: #4099d7 solid 2px;
					border-bottom: #4099d7 solid 2px;
					border-bottom-left-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						left: 15px;
						bottom: 15px;
					}

					@include UXGA {
						left: 25px;
						bottom: 25px;
					}
				}

				&:after {
					content: "";
					position: absolute;
					right: 10px;
					top: 10px;
					border-right: #4099d7 solid 2px;
					border-top: #4099d7 solid 2px;
					border-top-right-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						right: 15px;
						top: 15px;
					}

					@include UXGA {
						right: 25px;
						top: 25px;
					}
				}
			}
		}
	}

	.what-we-are-about {
		position: relative;
		padding: 30px 0;
		background: linear-gradient(to right, #dde0e2 -1%,#f3f5f5 74%,#dde0e2 100%);
		text-align: center;

		@include XGA {
			padding-bottom: 60px;
		}

		@include UXGA {
			padding-bottom: 120px;
		}

		.bottom-left-line {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25%;
			height: 30%;
			border-right: #bdc3c7 solid 3px;
			border-top: #bdc3c7 solid 3px;
			border-top-right-radius: 10px;
		}

		&-inner {
			@include XGA {
				display: flex;
				flex-flow: row-reverse;
				flex-wrap: nowrap;
			}
		}

		.image, .text {
			@include XGA {
				min-width: 50%;
				max-width: 50%;
				width: 50%;
			}
		}

		&-items {
			display: flex;
			flex-flow: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-top: 30px;

			@include HD {
				margin-top: 60px;
			}

			li {
				min-width: 31%;
				max-width: 31%;
				width: 31%;
				text-align: center;

				img {
					display: inline-block;
					height: 60px;

					@include HD {
						height: 80px;
					}
				}

				p {
					text-transform: uppercase;
					font-weight: 900;
					margin-top: 20px;

					@include HD {
						font-size: 20px;
					}
				}
			}
		}

		.image {
			position: relative;
			z-index: 2;

			img {
				display: inline-block;

				@include vHD {
					max-width: 40%;
				}

				@include XGA {
					max-width: 100%;
					margin-top: -50%;
				}
			}
		}

		.text {
			padding: 50px 0;

			@include XGA {
				width: 50%;
				padding-left: 40px;
			}

			@include HD {
				margin-top: 60px;
				padding-bottom: 90px;
			}

			@include UXGA {
				padding-bottom: 120px;
			}

			.btn {
				margin-top: 20px;
			}
		}

		.title-box {
			position: relative;
			width: 100%;
			margin-top: -60px;
			z-index: 10;

			@include XGA {
				width: 50%;
				margin-left: 50%;
			}

			@include HD {
				margin-top: -90px;
			}

			.bg-border {
				position: absolute;
				left: -60px;
				top: 30px;
				width: 100%;
				height: 100%;
				border-left: #969da4 solid 3px;
				border-right: #969da4 solid 3px;
				border-bottom: #969da4 solid 3px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				z-index: 8;

				@include HD {
					top: 60px;
				}
			}

			h2 {
				position: relative;
				color: #fff;
				width: 100%;
				background-color: #879098;
				box-shadow: rgba(43, 51, 59, 0.45) -20px 30px 100px;
				border-radius: 10px;
				text-align: center;
				padding: 30px 0;
				margin: 0;
				z-index: 20;

				@include XGA {
					padding: 60px 0;
				}

				@include HD {
					padding: 90px 0;
				}

				@include UXGA {
					padding: 120px 0;
				}

				&:before {
					content: "";
					position: absolute;
					left: 10px;
					bottom: 10px;
					border-left: #b0b9c1 solid 2px;
					border-bottom: #b0b9c1 solid 2px;
					border-bottom-left-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						left: 15px;
						bottom: 15px;
					}

					@include UXGA {
						left: 25px;
						bottom: 25px;
					}
				}

				&:after {
					content: "";
					position: absolute;
					right: 10px;
					top: 10px;
					border-right: #b0b9c1 solid 2px;
					border-top: #b0b9c1 solid 2px;
					border-top-right-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						right: 15px;
						top: 15px;
					}

					@include UXGA {
						right: 25px;
						top: 25px;
					}
				}
			}
		}
	}

	.who-we-are {
		position: relative;
		padding: 30px 0;

		.bottom-right-line {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 25%;
			height: 30%;
			border-left: #9bd5f5 solid 3px;
			border-top: #9bd5f5 solid 3px;
			border-top-left-radius: 10px;
		}

		.text {
			padding: 50px 0;

			@include XGA {
				width: 50%;
				margin-left: 50%;
				padding-left: 40px;
				margin-top: -120px;
			}

			@include HD {
				margin-top: -150px;
				padding-bottom: 90px;
			}

			@include UXGA {
				margin-top: -170px;
				padding-bottom: 120px;
			}

			.btn {
				margin-top: 20px;
			}
		}

		.title-box {
			position: relative;
			width: 100%;
			margin-top: -60px;
			z-index: 10;

			@include XGA {
				width: 50%;
				margin-left: 0;
			}

			@include HD {
				margin-top: -90px;
			}

			.bg-border {
				position: absolute;
				left: -60px;
				top: 30px;
				width: 100%;
				height: 100%;
				border-left: #9bd5f5 solid 3px;
				border-right: #9bd5f5 solid 3px;
				border-bottom: #9bd5f5 solid 3px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				z-index: 8;

				@include HD {
					top: 60px;
				}
			}

			h2 {
				position: relative;
				color: #fff;
				width: 100%;
				background-color: #9bd5f5;
				box-shadow: rgba(137, 197, 230, 0.35) -20px 30px 100px;
				border-radius: 10px;
				text-align: center;
				padding: 30px 0;
				margin: 0;
				z-index: 20;

				@include XGA {
					padding: 60px 0;
				}

				@include HD {
					padding: 90px 0;
				}

				@include UXGA {
					padding: 120px 0;
				}

				&:before {
					content: "";
					position: absolute;
					left: 10px;
					bottom: 10px;
					border-left: #bbe2f9 solid 2px;
					border-bottom: #bbe2f9 solid 2px;
					border-bottom-left-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						left: 15px;
						bottom: 15px;
					}

					@include UXGA {
						left: 25px;
						bottom: 25px;
					}
				}

				&:after {
					content: "";
					position: absolute;
					right: 10px;
					top: 10px;
					border-right: #bbe2f9 solid 2px;
					border-top: #bbe2f9 solid 2px;
					border-top-right-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						right: 15px;
						top: 15px;
					}

					@include UXGA {
						right: 25px;
						top: 25px;
					}
				}
			}
		}
	}

	&-slider {
		min-height: 600px;
		background-color: #ebeef6;
		background: linear-gradient(to right, #ebeef6 -1%,#ffffff 74%,#ebeef6 100%,#ebeef6 100%);
		overflow: hidden;
		padding-bottom: 80px;

		@include HD {
			min-height: 100vh;
		}

		.slider-inner {
			position: relative;
			padding-bottom: 30px;

			li {
				position: absolute;
				left: 0;
				top: 0;
				padding-top: 61px;
				opacity: 0;
				visibility: hidden;
				transition: opacity .3s $CubicEaseInOut, visibility .3s $CubicEaseInOut, position .3s $CubicEaseInOut;

				@include XGA {
					display: flex;
					flex-flow: row;
					flex-wrap: nowrap;
					padding-top: 110px;
				}

				@include HD {
					padding-top: 135px;
				}

				@include UXGA {
					padding-top: 145px;
				}

				@include FHD {
					padding-top: 190px;
				}

				.text {
					transform: translateX(-40px);
					transition: transform .3s $CubicEaseInOut .4s;

					p {
						max-width: 380px;
					}
				}

				.image {
					transform: translateX(40px);
					transition: transform .6s $CubicEaseInOut .4s;

					@include vHD {
						img {
							display: inline-block;
							width: 50%;
							margin-left: 50%;
							margin-top: -100px;
						}
					}

					@include XGA {
						img {
							width: auto;
							max-width: 100%;
							margin-top: 0;
							margin-left: 5%;
							max-height: calc( 100vh - 240px );
							margin-bottom: 0;
						}
					}
				}

				.text, .image {
					@include XGA {
						min-width: 50%;
						max-width: 50%;
						width: 50%;
					}
				}

				.btn {
					margin: 20px 0;
				}

				&.active {
					position: relative;
					opacity: 1;
					visibility: visible;
					transition-delay: .4s;

					.text, .image {
						transform: translateX(0);
					}
				}
			}
		}

		.dots {
			text-align: left;

			li {
				position: relative;
				display: inline-block;
				margin-right: 10px;
				height: 9px;
				width: 30px;
				cursor: pointer;

				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 3px;
					width: 100%;
					height: 3px;
					background-color: #c5cdde;
				}

				&.active {
					&:after {
						background-color: #9bd5f5;
					}
				}
			}
		}
	}

	&-contact {
		padding: 30px 0;
		background-color: #879098;
		background-size: cover;
		background-position: left center;
		background-image: url("/assets/img/home-contact-bg.jpg");

		.title-box {
			position: relative;
			width: 100%;
			margin-top: -60px;
			z-index: 10;

			@include XGA {
				width: 50%;
				margin-left: 50%;
			}

			@include HD {
				margin-top: -90px;
			}

			.bg-border {
				position: absolute;
				left: -60px;
				top: 30px;
				width: 100%;
				height: 100%;
				border-left: #969da4 solid 3px;
				border-right: #969da4 solid 3px;
				border-bottom: #969da4 solid 3px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				z-index: 8;

				@include HD {
					top: 60px;
				}
			}

			h2 {
				position: relative;
				color: #fff;
				width: 100%;
				background-color: #879098;
				box-shadow: rgba(43, 51, 59, 0.45) -20px 30px 100px;
				border-radius: 10px;
				text-align: center;
				padding: 30px 0;
				margin: 0;
				z-index: 20;

				@include XGA {
					padding: 60px 0;
				}

				@include HD {
					padding: 90px 0;
				}

				@include UXGA {
					padding: 120px 0;
				}

				&:before {
					content: "";
					position: absolute;
					left: 10px;
					bottom: 10px;
					border-left: #b0b9c1 solid 2px;
					border-bottom: #b0b9c1 solid 2px;
					border-bottom-left-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						left: 15px;
						bottom: 15px;
					}

					@include UXGA {
						left: 25px;
						bottom: 25px;
					}
				}

				&:after {
					content: "";
					position: absolute;
					right: 10px;
					top: 10px;
					border-right: #b0b9c1 solid 2px;
					border-top: #b0b9c1 solid 2px;
					border-top-right-radius: 10px;
					width: 40%;
					height: 15%;

					@include XGA {
						right: 15px;
						top: 15px;
					}

					@include UXGA {
						right: 25px;
						top: 25px;
					}
				}
			}
		}

		.home-contact-inner {
			margin-top: 50px;

			@include XGA {
				display: flex;
				flex-flow: row;
				flex-wrap: nowrap;
			}

			.left, .right {
				@include XGA {
					min-width: 50%;
					max-width: 50%;
					width: 50%;
				}
			}

			.left {
				@include XGA {
					margin-top: -50px;
				}

				@include UXGA {
					margin-top: -140px;
				}

				@include FHD {
					margin-top: -180px;
				}
			}

			h3 {
				color: #fff;

				span {
					color: #fff;
				}
			}

			a {
				color: #fff;
				text-decoration: none;
			}

			p {
				color: #fff;
			}

			.btn-holder {
				@include XGA {
					text-align: right;
				}
			}

			.form-home {
				margin: 10px 0;
				margin-bottom: 30px;

				@include XGA {
					margin: 30px 0;
				}

				@include UXGA {
					margin: 60px 0;
				}

				.inputs {
					@include vHD {
						display: flex;
						flex-flow: row;
						flex-wrap: nowrap;
						justify-content: space-between;
					}
				}

				input, textarea {
					width: 100%;
					background-color: transparent;
					border: none;
					border-bottom: #fff solid 1px;
					padding: 14px 0;
					margin-bottom: 20px;
					outline: none;
					color: #fff;

					&::placeholder {
						color: #fff;
					}
				}

				input {
					@include vHD {
						min-width: 48%;
						max-width: 48%;
						width: 48%;
					}
				}

				textarea {
					border: #fff solid 1px;
					padding: 14px 14px;
					min-height: 100px;
				}
			}
		}
	}
}




@media screen and (min-width: 1020px) {
	.home-slider .slider-inner li .text{
	  min-width: 100%;
	  max-width: 100%;
	  width: 100%; } 
	  .home-slider .slider-inner li .image {
		min-width: 50%;
		max-width: 50%;
		width: 50%; } 
		.slider-main {
		  width:50%;
		  float:left;
		}
		.slider-instant-quote {
		  width:50%;
		  float:left;
		  position: relative;
		  padding-left:20px;
		  padding-top: 135px;
		}
	  
		.slider-instant-quote .instant-quote {
		  position: relative;
		  top: 120px;
		  width: 90%;
		  margin: auto;
	  }
	  .instant-quote .instant-quote-box {
		position: relative;
		width: 100%;
		z-index: 10;
	  }

	  .instant-quote .instant-quote-box h2 {
		position: relative;
		width: 100%;
		background-color: #1580cb;
		-webkit-box-shadow: rgba(5, 109, 182, 0.55) -20px 30px 130px;
		box-shadow: rgba(5, 109, 182, 0.55) -20px 30px 130px;
		border-radius: 10px;
		text-align: center;
		padding: 90px 0;
		margin: 0;
		z-index: 20;
	  }

	  .instant-quote .instant-quote-box h2 a{
		color: #fff;
		text-decoration: none;
	  }

	  .instant-quote .instant-quote-box .bg-border {
		position: absolute;
		left: auto;
		top:60px;
		right: 60px;
		width: 100%;
		height: 100%;
		border-left: #3995d6 solid 3px;
		border-right: #3995d6 solid 3px;
		border-bottom: #3995d6 solid 3px;
		border-top: #3995d6 solid 3px;
		border-radius: 10px;
		z-index: 8;
	  }

	  .instant-quote .instant-quote-box h2:before {
		content: "";
		position: absolute;
		left: 15px;
		bottom: 15px;
		border-left: #4099d7 solid 2px;
		border-bottom: #4099d7 solid 2px;
		border-bottom-left-radius: 10px;
		width: 40%;
		height: 15%;
	}
	.instant-quote .instant-quote-box h2:after {
		content: "";
		position: absolute;
		right: 15px;
		top: 15px;
		border-right: #4099d7 solid 2px;
		border-top: #4099d7 solid 2px;
		border-top-right-radius: 10px;
		width: 40%;
		height: 15%;
  }
  }

  header nav ul li:last-child a {
    padding-right: 20px;
}